.Footer
  width: 100vw
  height: 10vh
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  bottom: 0
  font-family: monospace
  font-size: 2em

.Footer__link
  color: #006600
  text-decoration: underline
  cursor: pointer

.Footer__link:first-of-type
  margin-right: 2em