.TodoApp
  height: 90vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: monospace

.TodoApp__title
  font-size: 3em

.TodoApp__list
  font-size: 2em
  margin-top: 1em