/* UTIL FILE - USEFUL STYLES */

$url-icons = "../images/ic/"

$font-roboto-regular = "Roboto-Regular"
$font-roboto-bold = "Roboto-bold"

$no-font-roboto-light = sans-serif
$no-font-roboto-regular = sans-serif

// COLORS
$color-base = #4a9aea
$color-base-muted = #6699cc

